# Build a Qt project on macOS
name: Build on macOS

on:
  push:
    branches: [ dev ]
    # Disable this action, for now, since it often fails for reasons unrelated to our code:
    # (plus, macOS is not a target platform for this software)
    branches-ignore:
      - '**'
  pull_request:
    branches: [ dev ]
    # Disable this action, for now, since it often fails for reasons unrelated to our code:
    branches-ignore:
      - '**'

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        target: 'desktop'
        modules: 'quick core serialport network opengl'
    - name: qmake
      run: qmake .
    - name: make
      run: make
    - name: make check
      run: make check

#    - name: make distcheck
#      run: make distcheck
